{% extends "base.html" %}
{% block title %}Home | Corona API{% endblock %}
{% block content %}
{% if entries%}
  <table class="entrytable">
    <tr>
      <th>Date</th>
      <th>State(Bundesland)</th>
      <th>Cases</th>
      <th>new Cases</th>
      <th>Cases last 7 days</th>
      <th>7 Day Incidence</th>
    </tr>
    
    {% for entry in entries %}
    <tr>
      <th>{{ entries[entry]["date"] }}</th>
      <th>{{ entry }}</th>
      <th>{{ entries[entry]["cases"] }}</th>
      <th>{{ entries[entry]["new_cases"] }}</th>
      <th>{{ entries[entry]["cases_last7days"] }}</th>
      <th>{{ entries[entry]["incidence_last_7days"] }}</th>
    </tr>
    {% endfor %}
    {% else %}
    <h1 style="margin-left: 5vw;"> No entries yet! </h1>
  </table>
    {% endif %}



  <!-- <div style="width: 60%;">
    <canvas id="first_chart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="{{url_for("static", filename="js/charts.js")}}"></script>
  <script>
    generateChart("radar", {{lolw}})
  </script> -->

{% endblock content %}